<%-include("./gobal/header") %>
<body>

    <%-include("./gobal/unknow")%> 
    
    <%-include("./gobal/navbar") %>


    <!--slider area start-->
    <%-include("./gobal/slider") %>
    <!--slider area end-->

    <%-include("./gobal/rend") %>

    <!--Features area-->

    <!--Features area-->

    
    <!--product details start-->
    
    <!--product details end-->
    <!--area-->
    <%-include('./gobal/area') %>
    <!--area-->

    <!--Other product-->

    <!--Testimonials-->

    <!--/Testimonials-->

    <!-- blog post -->

<%-include("./gobal/shipping") %>
	
	
<%-include("./gobal/footer") %>

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
</body>

<!--   03:22:07 GMT -->
</html>
