<%-include("./gobal/header") %>

<body>
<%-include("./gobal/navbar") %>
<%-include("./gobal/backup") %>
    <!--product details start-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                   <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="<%=data1.image %>" data-zoom-image="<%=data1.image %>" alt="big-1">
                            </a>
                        </div>
                        <!-- <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update="" data-image="../assets/img/product/details-2.jpg" data-zoom-image="../assets/img/product/details-2.jpg">
                                        <img src="../assets/img/product/details-2.jpg" alt="zo-th-1"/>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                       <form action="#">
                           
                            <h1><%=data1.name%></h1>
                            <div class=" product_ratting">
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li class="review"><a href="#"> (250 reviews) </a></li>
                                </ul>
                                
                            </div>
                            <div class="price_box">
                                <span class="current_price">$<%=data1.price%></span>
                                <span class="old_price">$<%= Math.floor(data1.price + data1.price * 0.3) %></span>
                                
                            </div>
                            <div class="product_desc">
                                <ul>
                                    <li>In Stock</li>
                                    <li>Free delivery available*</li>
                                    <li>Sale 30% Off Use Code : 'KDRONE'</li>
                                </ul>
                                <p><%=data1.detail%></p>
                            </div>
							<div class="product_timing">
                                <div data-countdown="2023/12/15"></div>
                            </div>
                            <div class="product_variant quantity">
                                
                                <!-- <label>quanlity</label>
                                <input name="quanlity" min="1" max="100" value="1" type="number"> -->
                                <button class="btn btn-primary d-flex align-items-center justify-content-center">
                                    <a href="/checkout/<%= data1._id %>" style="text-decoration: none; color: inherit;">
                                      Buy Now
                                    </a>
                                  </button>
                            </div>
                            <!-- <form action="/checkout" method="get"></form>
                            </form> -->

                            <!-- <div class=" product_d_action">
                               <ul>
                                   <li><a href="#" title="Add to wishlist">+ Add to Wishlist</a></li>
                                   <li><a href="#" title="Add to wishlist">+ Compare</a></li>
                               </ul>
                            </div> -->
                            <div class="product_meta">
                                <span>Category: <a href="#"><%=data1.catagory%></a></span>
                            </div>
                            
                        </form>
                        <div class="priduct_social">
                            <ul>
                                <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i> Like</a></li>           
                                <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a></li>           
                                <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> save</a></li>           
                                <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i> share</a></li>        
                                <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> linked</a></li>        
                            </ul>      
                        </div>

                    </div>
                </div>
            </div>
        </div>    
    </div>
    <!--product details end-->
    


<%-include("./gobal/footer") %>
<!-- Plugins JS -->
<script src="../assets/js/plugins.js"></script>
<!-- Main JS -->
<script src="../assets/js/main.js"></script>
</body>

</html>