<%-include("./gobal/header") %>
<body>

    <%-include("./gobal/unknow")%> 
    <%-include("./gobal/navbar") %>

<%-include("./gobal/tagbutton") %>

<%-include("./gobal/rend") %>


<%-include("./gobal/footer") %>

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
</body>

<!--   03:22:07 GMT -->
</html>